<div class="all-blogs-container">
    <div class="blog-container">
        <div class="blog-container-image">
            <img alt="Cover-image">
        </div>
        <div class="blog-container-details">
            <h3></h3>
        </div>
        <div class="blog-container-actions">
            <button mat-raised-button id="edit-action" >Edit</button>
            <button mat-raised-button id="delete-action">Delete</button>
        </div>


    </div>
</div>


<mat-progress-spinner class="progress-spinner" mode="indeterminate"></mat-progress-spinner>




