<nav class="navStyle navbar navbar-expand-lg">
  <div class="container-fluid grand">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NoGachis</a>
    </div>
    <ul class="mar nav navbar-nav">
      <li routerLinkActive="active">
        <a class="buttonEffet butHover" routerLink="/">Home</a>
      </li>

      <li routerLinkActive="active">
        <a class="buttonEffet butHover" routerLink="products">products</a>
      </li>
      <li routerLinkActive="active">
        <a class="buttonEffet butHover" routerLink="/listerecettes">recettes</a>
      </li>
      <li routerLinkActive="active">
        <a class="buttonEffet butHover" routerLink="/">conseils</a>
      </li>
      <li routerLinkActive="active">
        <a class="buttonEffet butHover" routerLink="/">a propose de nous</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right rounded-pill">
      <li>
        <a class="enrButton" href="#"
          ><span class="glyphicon glyphicon-user"></span> s'enregistrer</a
        >
      </li>
      <li>
        <a class="conneButton text-center" href="/auth"
          ><span class="glyphicon glyphicon-log-in"></span> Connexion</a
        >
      </li>
    </ul>
  </div>
</nav>
