<div class="preservations-details-container">
  <div class="preservations-details-image">
    <img alt="cover_image">
  </div>
  <div class="preservations-details-title-date">
    <h3 id="title">Article convervation</h3>
    <h4 id="date"></h4>
  </div>
  <div class="card mt-50 mb-50" style="width: 18rem">
    <img class="card-img-top d-flex justify-content-center mg-50" src="../../../assets/img/conservation/bocaux.jpg"
      width="250px" alt="Card image cap" />
    <div class="card-body text-center adpateText">
      <h5 class="card-title">Card title</h5>

  <div class="preservations-details-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Laborum doloremque natus excepturi rerum, aliquid illo
       reprehenderit vel consectetur consequatur accusamus assumenda numquam quam harum mollitia sit.
       Cum aperiam cupiditate eos?</p>
  </div>
</div>