<div class="container">
    <div class="preservations-details-container">

        <div class="preservations-details-title">
            <h3 id="title">Article recettes</h3>

        </div>

        <div class="preservations-details-image">
            <div class="card-img-top mt-40">
                <img src="../../../assets/img/conservation/bocaux.jpg" alt="Card image cap" />
            </div>
        </div>

        <div class="card mt-50 mb-50">
            <div class="card-body  adpateText">

                <div class="article-card text-center ">
                    <h4 class="card-title ">Card title</h4>
                </div>

                <div class="contourCarddes">
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        doloribus dolore praesentium illo laudantium atque nobis voluptatum,
                        repellat modi id tempora ut dolorum eum nulla doloremque maiores
                        aliquid consequuntur saepe. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nostrum doloribus dolore praesentium illo
                        laudantium atque nobis voluptatum, repellat modi id tempora ut
                        dolorum eum nulla doloremque maiores aliquid consequuntur saepe.
                        <br />
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        doloribus dolore praesentium illo laudantium atque nobis voluptatum,
                        repellat modi id tempora ut dolorum eum nulla doloremque maiores
                        aliquid consequuntur saepe.
                        <div>
                            <h4 id="date">24/01/1980</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>