.centerTexte {
  text-align: center;
  color: rgb(32, 9, 241);
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}

.adpateText {
  width: 320px;
  padding: 20px;
}
.contourCard {
  flex-direction: row;
  margin: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 2px 2px 10px #050505, -2px -2px 10px #050505;
}

.contourCarddes {
  min-width: 80%;
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 2px 2px 10px #050505, -2px -2px 10px #050505;
  padding-bottom: 20px;
}

.taillePhoto {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  width: 50vh;
}
.etape {
  padding-top: 5vh;
  text-align: center;
}
.card-text {
  padding-top: 5vh;
  line-height: 5vh;
}
.droite {
  margin-left: 55%;
}
.buttonEffet{
  color: #0e0d0d;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #e0e0e0;
}