<div id="preservations">
  <div class="preservations-header">
    <div class="infos">
      <div class="titles">
        <h2>Conservations des aliments</h2>
        <span>Pourquoi ?</span>
      </div>
      <div class="description">
        <p>Parmi les solutions anti-gaspillage alimentaire, la première se trouve dans l’organisation des courses. Pour
          éviter de gaspiller, il y a quelques tips simples à adopter que vous pourrez appliquer dès demain.</p>
      </div>
    </div>
    <div class="search">
      <div class="search-input">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Rechercher" [(ngModel)]="search"/>
      </div>
      <div class="search-filters">
        <label for="filters">Type de conservation :</label>
        <select class="select-filters" id="filters" name="filters" [(ngModel)]="modeconservation">
          <optgroup label="FROID">
            <option value="REFRIGERATION">Réfrigération</option>
            <option value="CONGELATION">Congélation</option>
            <option value="SURGELATION">Surgélation</option>
          </optgroup>
          <optgroup label="CHAUD">
            <option value="STERILISATION">Stérilisation</option>
            <option value="PASTEURISATION">Pasteurisation</option>
            <option value="APPERTISATION">Appertisation</option>
            <option value="SEMICONSERVES">Semi-conserves</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div class="articles">
    <app-card
      *ngFor="let article of articles | filter : { search: this.search, modeconservation: this.modeconservation }"
      [article]="article"></app-card>
  </div>
</div>