<div class="container mt-20 pb-100">

    <div class="search">

        <input
          class="mb-50 buttonEffet"
          type="search"
          placeholder="Rechercher"
          aria-label="Search"
        />
        <button class="ml-10 buttonEffet"  type="button">
          Search
        </button>
        
                <button class="droite buttonEffet" type="button">
          Froid
        </button>
                <button class="buttonEffet" type="button">
          Chaud
        </button>
                <button class="buttonEffet" type="button">
          Autres
        </button>
        
  </div>

<div>
  <div class="contourCarddes mb-20">
    <h2 class="titre centerTexte">mode de conservation avec bocaux</h2>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nostrum doloribus dolore praesentium illo
            laudantium atque nobis voluptatum, repellat modi id tempora ut
            dolorum eum nulla doloremque maiores aliquid consequuntur saepe.
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus dolore praesentium illo laudantium atque nobis voluptatum,
            repellat modi id tempora ut dolorum eum nulla doloremque maiores
            aliquid consequuntur saepe.
  
  </div>

</div>
  <div class="column">
    <div class="flex flex-direction: row row pb-50">
      <div class="contourCard">
        <div>
          <img
            class="taillePhoto"
            src="../../../../assets/img/conservation/bocaux.jpg"
            alt="Card image cap"
          />
                    <img
            class="taillePhoto"
            src="../../../../assets/img/conservation/bocaux.jpg"
            alt="Card image cap"
          />
                    <img
            class="taillePhoto"
            src="../../../../assets/img/conservation/bocaux.jpg"
            alt="Card image cap"
          />
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col-sm-4">
      <app-card></app-card>
    </div>
        <div class="col-sm-4">
      <app-card></app-card>
    </div>
        <div class="col-sm-4">
      <app-card></app-card>
    </div>
  </div>



</div>
