<div id="recipes">
  <div class="recipes-header">
    <div class="infos">
      <div class="titles">
        <h2>Page de recettes</h2>
        <span>Pourquoi ?</span>
      </div>
      <div class="description">
        <p>Retrouver ici les nombreuses recettes mises à votre dispositon. Vous pouvez si vous le souhaitez rechercher
          par mot clé la recette qui vous intéresse. A vos papilles!</p>
      </div>
    </div>
    <div class="search">
      <div class="search-input">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Rechercher" [(ngModel)]="search"/>
      </div>
      <div class="search-filters">
        <button type="button">Entrée</button>
        <button type="button">Plat</button>
        <button type="button">Desert</button>
        <button type="button">Thèmes</button>
        <button type="button">Épices</button>
      </div>
    </div>
  </div>
  <div class="articles">
    <app-card
      *ngFor="let article of articles | filter : { search: this.search, modeconservation: this.modeconservation }"
      [article]="article"></app-card>
  </div>
</div>
