.adpateText {
  width: 320px;
  padding: 20px;
}
.tailleimg {
  width: 200px;
  height: 200px;
}
.mb-100{
  margin-bottom: 100px;
}

.tailleCard {
  min-height: 500px;
  max-height: 750px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}