<div class="contourCard ">
  <div class="card mt-50 mb-50" >
    <img
      class="card-img-top d-flex justify-content-center mg-50"
      src="../../../assets/img/conservation/bocaux.jpg"
      width="250px"
      alt="Card image cap"
    />
    <div class="card-body text-center adpateText">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        doloribus dolore praesentium illo laudantium atque nobis voluptatum,
        repellat modi id tempora ut dolorum eum nulla doloremque maiores aliquid
        consequuntur saepe.
      </p>
      <a href="#" class="btn btn-primary">En savoir +</a>
    </div>
  </div>
</div>