<div id="card-article" *ngIf="article" [routerLink]="['/preservations/details/', article.id]">
  <div class="card-img">
    <img [src]="article.namephoto.namephoto" alt="{{ article.title}}"/>
  </div>

  <div class="card-body">
    <div class="card-title">
      <h3>{{ article.title }}</h3>
    </div>

    <div class="card-content">
      <p>{{ article.contentdescription }}</p>
    </div>

    <div class="card-info">
      <span class="card-date">{{article.date}}</span>
      <a [routerLink]="['/preservations/details/', article.id]" class="card-button">En savoir +</a>
    </div>
  </div>
</div>
