<div id="profile" *ngIf="currentUser; else loggedOut">

  <div class="profile-description">
    <h2>Profil de {{ currentUser.email }}</h2>

    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
  </div>

  <div class="profile-modification">
    <h2>Modification du profil</h2>


    <form action="">
      <h3>Adresse email</h3>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required/>
      </div>
      <div class="form-group">
        <label for="email-confirm">Confirmation de l'email</label>
        <input type="email" class="form-control" id="email-confirm" name="email-confirm" required/>
      </div>

      <div class="form-group">
        <button type="submit">S'inscrire</button>
      </div>
    </form>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
