<header id="header">
  <div class="title" routerLink="/">
    <h1>NOGACHI</h1>
  </div>

  <div class="menu">
    <a routerLinkActive="active" routerLink="home">Accueil</a>
    <a routerLinkActive="active" routerLink="preservations">Conservations</a>
    <a routerLinkActive="active" routerLink="products">Produits</a>
    <a routerLinkActive="active" routerLink="recipe">Recettes</a>
    <a routerLinkActive="active" routerLink="about">A propos</a>

    <div class="dashboard" *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLinkActive="active" routerLink="admin">Admin Board</a>
    </div>
  </div>

  <div class="account">
    <div class="links logged" *ngIf="!isLoggedIn">
      <a class="login" routerLinkActive="active" routerLink="login">Se connecter</a>
      <a class="register" routerLinkActive="active" routerLink="register">S'inscrire</a>
    </div>

    <div class="links unlogged" *ngIf="isLoggedIn">
      <a class="profile" routerLinkActive="active" routerLink="profile">{{ username }}</a>
      <a class="logout" (click)="logout()">Se déconnecter</a>
    </div>
  </div>
</header>
