<nav class="navStyle navbar navbar-expand-lg">
  <div class="container-fluid grand">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NoGachis</a>
    </div>
    <ul class="mar nav navbar-nav">
      <li>
        <a
          class="buttonEffet butHover"
          routerLinkActive="active"
          routerLink="/homepage"
          >Home</a
        >
      </li>

      <li>
        <a
          class="buttonEffet butHover"
          routerLinkActive="active"
          routerLink="products"
          >products</a
        >
      </li>
      <li>
        <a
          class="buttonEffet butHover"
          routerLinkActive="active"
          routerLink="recipe"
          >recettes</a
        >
      </li>
      <li>
        <a
          class="buttonEffet butHover"
          routerLinkActive="active"
          routerLink="preservations"
          >conservations</a
        >
      </li>
      <li>
        <a
          class="buttonEffet butHover"
          routerLinkActive="active"
          routerLink="/propos"
          >a propose de nous</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right rounded-pill">
      <li>
        <a class="enrButton" href="#"
          ><span class="glyphicon glyphicon-user"></span> s'enregistrer</a
        >
      </li>
      <li>
        <a class="conneButton text-center" href="/auth"
          ><span class="glyphicon glyphicon-log-in"></span> Connexion</a
        >
      </li>
    </ul>
  </div>
</nav>

<!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
<!--  <a href="#" class="navbar-brand">bezKoder</a>-->
<!--  <ul class="navbar-nav mr-auto" routerLinkActive="active">-->
<!--    <li class="nav-item">-->
<!--      <a href="/home" class="nav-link" routerLink="home">Home </a>-->
<!--    </li>-->
<!--    <li class="nav-item" *ngIf="showAdminBoard">-->
<!--      <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>-->
<!--    </li>-->
<!--    <li class="nav-item" *ngIf="showModeratorBoard">-->
<!--      <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
<!--    </li>-->
<!--  </ul>-->

<!--  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">-->
<!--    <li class="nav-item">-->
<!--      <a href="/register" class="nav-link" routerLink="register">Sign Up</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href="/login" class="nav-link" routerLink="login">Login</a>-->
<!--    </li>-->
<!--  </ul>-->

<!--  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">-->
<!--    <li class="nav-item">-->
<!--      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href class="nav-link" (click)="logout()">LogOut</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
