<div class="container">
  <form class="contour" (ngSubmit)="submit()" [formGroup]="form">
    <div class="mt-50 ml-30">
      <label class="mr-20 min">Titre</label>
      <input formControlName="title" type="text" />
      <div
        class="error"
        *ngIf="form.get('title')?.errors && form.get('title')?.touched"
      >
        Le champs est requis
      </div>
    </div>

    <div class="mt-50 ml-30">
      <label class="mr-20 min">Date</label>
      <input formControlName="date" type="date" />
      <div
        class="error"
        *ngIf="form.get('date')?.errors && form.get('date')?.touched"
      >
        La date est requise
      </div>
    </div>

    <div class="mt-50 ml-30">
      <label class="mr-20 min">Recette ou conservation</label>
      <form [formGroup]="form">
        <select formControlName="nametype">
          <option value="CONSERVATION">CONSERVATION</option>
          <option value="RECETTE">RECETTE</option>
        </select>
      </form>
      <div
        class="error"
        *ngIf="form.get('nametype')?.errors && form.get('nametype')?.touched"
      >
        Le champs est requis
      </div>
    </div>
    <div class="mt-50 ml-30">
      <label class="mr-20 mt-20 min">Mode de conservation</label>
      <form [formGroup]="form">
        <select formControlName="modeconservation">
          <option class="entete" value="froid" disabled>Froid</option>
          <option *ngFor="let fr of froid" [ngValue]="fr">
            {{ fr.names }}
          </option>
          <option class="entete" value="Chaud" disabled>Chaud</option>
          <option *ngFor="let ch of chaud" [ngValue]="ch">
            {{ ch.names }}
          </option>
        </select>
      </form>
      <div
        class="error"
        *ngIf="
          form.get('modeconservation')?.errors &&
          form.get('modeconservation')?.touched
        "
      >
        Le champs est requis
      </div>
    </div>

    <div class="mt-50 ml-30">
      <label class="mr-20 min">Catégorie</label>
      <input
        formControlName="namecategory"
        type="text"
        (change)="recuper($event)"
      />
      <div
        class="error"
        *ngIf="
          form.get('namecategory')?.errors && form.get('namecategory')?.touched
        "
      >
        Le champs est requis
      </div>
    </div>

    <div class="mt-50 ml-30">
      <label class="mr-20">Description de la carte</label>
      <textarea formControlName="content" rows="5" cols="33"> </textarea>

      <div
        class="error"
        *ngIf="form.get('content')?.errors && form.get('content')?.touched"
      >
        Le texte doit être entre 50 caractéres et 200 caractéres!
      </div>
    </div>
        <div class="mt-50 ml-30">
      <label class="mr-20">Description de la fiche</label>
      <textarea formControlName="contentdescription" rows="5" cols="33"> </textarea>

      <div
        class="error"
        *ngIf="form.get('contentdescription')?.errors && form.get('contentdescription')?.touched"
      >
        Le texte doit être de 200 caractéres minimum !
      </div>
    </div>

    <div class="mt-50 ml-30" formArrayName="namephoto">
      <label class="mr-20 wid" for="namephoto">photo</label>
      <input type="file" multiple (change)="selectFiles($event)" />
    </div>

    <img
      class="taille"
      *ngIf="form.controls.namephoto.value"
      [src]="form.controls.namephoto.value"
    />

    <button
      class="styleButtonRed marginsp"
      style="margin-top: 20px; margin-bottom: 200px"
    >
      Valider
    </button>
  </form>
</div>
