/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-200 {
  margin-bottom: 200px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-50 {
  margin-right: 50px;
}
.mg-20 {
  margin: 20px;
}
.mg-50 {
  margin: 50px;
}

.pt-20 {
  padding-top: 20px;
}
.pt-50 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-20 {
  padding-left: 50px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-20 {
  padding-right: 50px;
}

.contourCard {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 2px 2px 10px #050505, -2px -2px 10px #050505;
}
.greenButton {
  margin: 5px;
  border-radius: 5px;
  background: #4cd86a;
  box-shadow: 2px 2px 4px #b3b3b3, -2px -2px 4px #0e0d0d;
}
.taillePhoto {
  
  padding-top: 2vw;
  padding: 2vw;
  width: 40vh;
}
